<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>

    <h2>Team Motto: <%=@team.motto%></h2>
    <% @members.each do |member| %>
      <h3><p>Hero Name: <%= member.name %></h3>
      <p>Hero Power: <%= member.power %></p>
      <p>Hero Biography: <%=member.bio %></p>
      <% end %>




  </body>
</html>
